.round-image {
  border-radius: 50%;
  width: 200px;
  height: 190px;
  margin: 0 auto;
}

.card-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

// .container-fluid {
//   display:flex;
//   justify-content: space-around;
// }

.col {
  border: solid black;
}

.card {
  background-color: $light-gray;
  border: $light-gray;
}
