<style>
  <!-- style if necessary -->
</style>

<p>New Customer: <%= @customer_details.first_name  @customer_details.last_name%></p>

<p>Email: <%= @customer_details.email %></p>

<% if @customer_details.budget !== nil %>
<p>Budget: <%= @customer_details.budget %></p>
<% end %>

<% if @customer_details.comments !== nil %>
<p>Commennts: <%= @customer_details.comments %></p>
<% end %>


