<div class="d-flex justify-content-center mt-3">
  <button type="button" class="btn btn-outline-dark center-block" data-toggle="modal" data-target="#exampleModal">
      Contact us
  </button>
</div>
