<div class="footer">
  <div class="footer-links">
    <a target="_blank" href="https://www.facebook.com/thealgarvepropertycompany/"><i class="fab homepage fa-facebook"></i></a>
    <a target="_blank" href="https://www.instagram.com/algarvepropertycompanyofficial/"><i class="fab homepage fa-instagram"></i></a>
    <a target="_blank" href="https://www.linkedin.com/company/31296335/"><i class="fab homepage fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
  <%= link_to "Privacy Policy", privacy_path, class: "nav-link" %>
  </div>
</div>
