
<section>
  <div class="flex-parallax">
    <div class="parallax-1"></div>
    <div class="parallax-1-text block">
      We are a British owned company operating in the Algarve, Portugal. We have been operating here for over 15 years. We know the market and are very well connected. We will find you properties tailored to your needs.
      <p class="line-break margin-top-20"></p>
    </div>
  </div>
</section>
<section>
  <div class="flex-parallax">
    <div class="parallax-2"></div>
    <div class="parallax-2-text block">
       Want help furnishing your properties? We have over 15 years of experience in interior design and sourcing furniture. Want to rent your properties? We will manage your rentals while you are out of the country.
      <p class="line-break margin-top-20"></p>
    </div>
  </div>
</section>
<section>
  <div class="flex-parallax">
    <div class="parallax-3"></div>
    <div class="parallax-3-text block">
      We have properties from a range of agents and offer financial and legal advice to facilitate the application and renewal process. We will also furnish and manage any properties you want to rent. Enter your details below to enquire - we will source properties suited to your needs.
      <p class="line-break margin-top-20"></p>
    </div>
  </div>
</section>


