<section>
  <h2 class="text-center mt-4">Our Services</h2>
    <div class="container">
      <div class="mt-3 row">

        <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center">
          <div class="card p-2">
            <img class="round-image" src="https://taxlinked.net/sites/default/files/styles/blog_full/public/images/blog/image_79B4ADBC-635F-4973-93C6-5DF8F8D77B74_1.jpg?itok=a2sPkHTP">
            <div class="card-text mt-2 p-3">
            <h3 class="text-center">Golden Visa</h3>
            <p>We will help you find the properties needed for a Portuguese Golden Visa.  We can also offer financial and legal advice to facilitate the process. If you meet the criteria, we make the process from choosing a property to receiving your Golden Visa seamless. </p>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center">
          <div class="card p-2">
            <img class="round-image float-center" src="https://www.portugal-holiday-rental.com/public/uploads/pages/H2_1C_13.jpg">
            <div class="card-text mt-2 p-3">
            <h3 class="text-center">Furnishing & Rental</h3>
            <p>Want help furnishing your properties? We have over 15 years of experience in interior design and sourcing furniture. Want to rent your properties? We will manage your rentals while you are out of the country. </p>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center">
          <div class="card p-2">
            <img class="round-image float-center" src="https://static.businessworld.in/article/article_extra_large_image/1550231428_pRiSnP_Financial_administration_concept_shutterstock_470.jpg">
            <div class="card-text mt-2 p-3">
            <h3 class="text-center">Properties</h3>
            <p>We have properties from a range of agents in Lisbon and the Algarve.  Tell us your budget and we will source a suitable property. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
