<section>
  <h2 class="text-center mt-4">Our Services</h2>
    <div class="container">
      <div class="mt-3 row">

        <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center">
          <div class="card p-2">
            <img class="round-image" src="https://q-cf.bstatic.com/images/hotel/max1024x768/199/199339883.jpg">
            <div class="card-text mt-2 p-3">
            <h3 class="text-center">Sourcing Properties</h3>
            <p>Want a property on a golf course, near the beach, or with a swimming pool? Tell us your requirements and we will find you your dream property. How? We've been helping with this for 15 years. We know the best agents and their best properties - even before Google sees them. We are obsessively focused on figuring out you desire and finding you your property.</p>
           </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center">
          <div class="card p-2">
            <img class="round-image float-center" src="https://americasbestvalueinnmccall.com/wp-content/uploads/2019/06/13-07-2018-09-46-15_property-buy-sell-rent-service-in-cambodia1.jpg">
            <div class="card-text mt-2 p-3">
            <h3 class="text-center">Property Management</h3>
            <p>Will you often be away from Portugal? We have an exceptional team of professionals; handymen who can fix problems like a leak or power outage, gardeners who will maintain the PH in your pool, water your plants, and cut your grass, and rental experts who will advertise your property, rent it out, and provide sublime customer service. What do you do? Stay home and not worry.</p>
           </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center">
          <div class="card p-2">
            <img class="round-image float-center" src="https://images.unsplash.com/photo-1503174971373-b1f69850bded?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2174&q=80">
            <div class="card-text mt-2 p-3">
            <h3 class="text-center">Furnishing</h3>
            <p>We have 15 years experience in interior design and furnishing. We know which colours work together and which don't. We know the furniture that fits your budget and the furniture sets that compliment one another. Don't speak Portuguese? We know which suppliers to speak to and how to get you an excellent price.</p>
           </div>
          </div>
        </div>

        <div class="col-sm-0 col-md-0 col-lg-3 d-flex">

        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center">
          <div class="card p-2">
            <img class="round-image" src="https://images.unsplash.com/photo-1534951009808-766178b47a4f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80h">
            <div class="card-text mt-2 p-3">
            <h3 class="text-center">Financial Advice</h3>
            <p>Our financial experts will provide expertise to facilitate you buying the property you want. </p>
           </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center">
          <div class="card p-2">
            <img class="round-image float-center" src="https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80">
            <div class="card-text mt-2 p-3">
            <h3 class="text-center">Legal Advice</h3>
            <p>Our legal team will also provide you with legal advice.</p>
          </div>
        </div>
      </div>
       <div class="col-sm-0 col-md-0 col-lg-3 d-flex">

       </div>


    </div>
  </div>
 </div>
</section>
