.banner {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  position: relative;
}

.banner h2 {
  font-family:'Oswald', sans-serif; font-size:40px; letter-spacing:2px; text-align:center; color:white; font-weight:330; z-index:10; opacity:.9;
}

.banner p {
  font-size: 18px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding: 3px 7px;
}

.banner-container {
  text-align: center;
}

