.carousel-inner .carousel-item img {
  opacity:0.95;
  height: 95vh;
  overflow: hidden;
}
// .carousel-image>img {
//   opacity:0.95;
//   height: 80vh;
// }

// .carousel-image>img {
//   opacity: 0.95;
//   height: 80vh;
// }

.carousel-caption {
  text-shadow: 1px 1px 3px rgba(0,0,0,1);
}




@media screen and (max-width: 992px) {
  .carousel-inner .carousel-item img {height: 75vh;}
}

@media screen and (max-width: 768px) {
.carousel-inner .carousel-item img {height: 55vh;}
}

@media screen and (max-width: 576px) {
  .carousel-inner .carousel-item img {height: 45vh;}
}


