.navbar-lewagon {
  justify-content: space-between;
  background: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  margin: 0 auto;
}

.nav-item a {
  // change below colour to white when wanting to add words to navbar
  color: black !important;
  margin-left: 5px;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  border-radius: 50%;
}
